<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="col-md-4" th:fragment="jsonInputCell(title, jsonValue, fieldName, inputCode)"
     th:with="buttonTitle=${buttonTitle} ?: 'Upload'">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h3><label th:for="${fieldName}"><p class="inputFieldTitle" th:text="${title}"/></label></h3>
            </div>
            <div class="col-sm-4">
                <a class="btn btn-secondary btn-lg slim-btn" href="#" th:attr="onclick=|${inputCode}|"
                   role="button"><div  th:text="${buttonTitle}"></div></a>
            </div>
        </div>
    </div>
    <div class="jsonInputField">
        <textarea th:name="${fieldName}" th:id="${fieldName}" th:text="${jsonValue}"></textarea>
    </div>
</div>

<div class="container" th:fragment="transformButton">
    <div class="col-xs-1" align="center">
        <button class="transform-btn" type="submit" title="Transform">Transform</button>
    </div>
</div>

<div class="modal fade" id="fileUploadModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true" th:fragment="fileUploadModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload Json File</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" target="/upload">
                <div class="modal-body">
                    <input type="file" name="file" class="form-control-file" />
                    <input type="hidden" name="inputJson" id="uploadInputJson"/>
                    <input type="hidden" name="joltJson" id="uploadJoltJson"/>
                    <input type="hidden" name="outputJson" id="uploadOutputJson"/>
                    <input type="hidden" name="fieldName" id="fieldName"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" >Upload</button>
                </div>

            </form>
        </div>
    </div>
</div>

</body>
</html>