<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div class="col-md-4" th:fragment="jsonInputCell(title, jsonValue, fieldName)">
        <h3><label th:for="${fieldName}"><p th:text="${title}" /></label></h3>
        <div class="jsonInputField">
            <textarea th:name="${fieldName}" th:id="${fieldName}" th:text="${jsonValue}"></textarea>
        </div>
    </div>

    <div class="container" th:fragment="transformButton">
        <div class="col-xs-1" align="center">
            <button class="transform-btn" type="submit" title="Transform">Transform</button>
        </div>
    </div>

</body>
</html>