<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>JOLT Test Tool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form method="POST" target="/">
        <div>
            <button type="submit" title="Transform" >Transform</button>
        </div>
        <div id="Form">
            <div th:replace="fragments/inputs :: jsonInputCell (title='Json Input', jsonValue=${inputJson}, fieldName='inputJson')">...</div>
            <div th:replace="fragments/inputs :: jsonInputCell(title='JOLT Spec', jsonValue=${joltJson}, fieldName='joltJson')">...</div>
            <div th:replace="fragments/inputs :: jsonInputCell(title='Json Output', jsonValue=${outputJson}, fieldName='outputJson')">...</div>
        </div>
    </form>
<!--    <p th:text="'Hello, ' + ${name} + '!'" />-->
</body>
</html>
